@use "../../styles/media" as *;
@use "../../styles/colors" as *;

.intro {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding-top: 240px;
  padding-top: 196px;
  padding-bottom: 64px;

  @include mediaTablet {
    padding-top: 152px;
    padding-top: 118px;
    padding-bottom: 32px;
  }

  @include mediaMobile {
    padding-top: 110px;
    // padding-top: 144px;
  }
}

.button {
  margin-top: 48px;

  @include mediaTablet {
    margin-top: 24px;
  }

  @include mediaMobile {
  }
}

.description {
  margin-top: 16px;

  @include mediaTablet {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.breadcrumbs {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;

  @include mediaTablet {
    margin-bottom: 16px;
    gap: 4px;
  }

  p,
  span {
    color: rgba(255, 255, 255, 0.4);
  }
}

.breadcrumbsItem {
  display: flex;
  gap: 8px;

  @include mediaTablet {
    gap: 4px;
  }
}
