@use "@styles/media" as *;
@use "@styles/colors" as *;

.mobileMenu {
  position: absolute;
  left: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 100vh;
  background-color: $white;
  padding: 32px;
  overflow: auto;
  max-height: 100vh;

  @include mediaTablet {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include mediaMobile {
    padding-left: 16px;
    padding-right: 16px;
  }

  .link {
    color: $black;

    @include mediaTablet {
    }
  }
}
