@use "@styles/media" as *;
@use "@styles/colors" as *;

.button {
  position: relative;
  cursor: pointer;
  display: flex;
  filter: url(#buttonFilter);

  @include mediaTablet {
  }

  &:hover {
    .textWrap,
    .iconWrap {
      background-color: $dark-finik !important;
      transition: background-color 0.2s ease-in-out;
    }
  }

  &:focus {
    .background {
      color: $dark-finik;
      transition: color 0.2s ease-in-out;
    }
  }

  .text {
    font-size: 24px;
    line-height: 24px;
    z-index: 1;

    @include mediaTablet {
      font-size: 16px;
      line-height: 16px !important;
    }
  }

  .textWrap {
    background-color: $finik;
    border-radius: 32px;
    padding: 20px 32px 20px 32px;

    @include mediaTablet {
      padding: 15px 24px 15px 24px;
      height: 48px;
    }

    @include mediaMobile {
      padding: 15px 24px 15px 24px;
      // padding: 15px 0 15px 24px;
    }
  }

  .iconWrap {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $finik;
    border-radius: 32px;
    padding: 24px;
    margin-left: -12px;

    @include mediaTablet {
      padding: 15px 18px 15px 18px;
      margin-left: -5px;
      height: 48px;
    }
  }

  .icon {
    color: $white;

    @include mediaTablet {
      width: 12px;
      height: 12px;
    }
  }
}
