@use "@styles/media" as *;

.footer {
  padding-top: 112px;
  padding-bottom: 32px;

  @include mediaTablet {
    padding-top: 64px;
    padding-bottom: 24px;
  }

  @include mediaMobile {
  }
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mediaTablet {
    gap: 8px;
  }
}

.linksWrap {
  display: flex;
  justify-content: space-between;

  @include mediaMobile {
    flex-direction: column;
    gap: 24px;
  }
}

.privacyLink {
  &:hover {
    text-decoration: none;
  }
}
