@use "@styles/media" as *;
@use "@styles/colors" as *;

.menu {
  display: flex;
  // gap: 48px;
  max-width: 894px;
  width: 100%;
  justify-content: space-between;
  margin-left: 48px;

  @include mediaTablet {
  }

  @include mediaMobile {
  }

  .link {
    @include mediaTablet {
    }
  }

  .text {
    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
