@use "../../styles/media" as *;
@use "../../styles/colors" as *;

.form {
  // max-width: 980px;
  width: 100%;
  background-color: $white;
  padding: 32px;
  border-radius: 32px;

  @include mediaTablet {
    // max-width: none;
    height: 100%;
    border-radius: 0;
    padding: 24px 32px;
  }

  @include mediaMobile {
    padding: 16px;
  }
}

.header {
  margin-bottom: 24px;

  @include mediaTablet {
    margin-bottom: 17px;
  }
}

.formFieldsWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 48px;

  @include mediaTablet {
    margin-bottom: 32px;
    gap: 16px;
  }

  @include mediaLargeMobile {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.formField {
  &:last-child {
    grid-column: 1 / 3;

    @include mediaLargeMobile {
      grid-column: auto;
    }
  }
}

.formButton {
  margin-bottom: 16px;

  @include mediaMobile {
    margin-bottom: 8px;
  }
}

.link {
  display: inline-block;
}
