@use "../../styles/media" as *;
@use "../../styles/colors" as *;

.privacyPage {
  @include mediaTablet {
  }
}

.intro {
  padding-top: 196px;

  @include mediaTablet {
    padding-top: 118px;
  }

  @include mediaMobile {
    padding-top: 110px;
  }
}

.wrapper {
}
