@use "@styles/media" as *;
@use "@styles/colors" as *;

.cases {
  width: 100%;
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;

  @include mediaTablet {
  }

  @include mediaLargeMobile {
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-areas:
    "a b b"
    "c c d";
  gap: 4px;

  @include mediaTablet {
  }

  @include mediaMobile {
    grid-template-areas:
      "a b"
      "c d";
  }
}

.item {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 32px;

  @include mediaLaptop {
  }

  @include mediaTablet {
    border-radius: 24px;
    max-height: 240px;
  }

  @include mediaMobile {
    max-height: 160px;
  }

  &:nth-child(1) {
    grid-area: a;
  }

  &:nth-child(2) {
    grid-area: b;
  }

  &:nth-child(3) {
    grid-area: c;
  }

  &:nth-child(4) {
    grid-area: d;
  }

  picture {
    height: 100%;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.title {
  position: absolute;
  left: 32px;
  top: 24px;
  z-index: 1;

  @include mediaTablet {
    left: 24px;
    top: 16px;
  }

  @include mediaMobile {
    max-width: 145px;
  }
}
