@use "@styles/media" as *;
@use "@styles/colors" as *;

.articles {
  @include mediaTablet {
  }

  @include mediaMobile {
  }
}

.list {
  // display: flex;
  // flex-wrap: wrap;
  // gap: 48px 24px;
  // width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px 24px;

  @include mediaTablet {
    gap: 24px 16px;
  }

  @include mediaMobile {
    grid-template-columns: 1fr;
  }
}

.cardWrap {
  // flex: 1 1 calc(50% - 12px);

  @include mediaTablet {
    flex: auto;
  }
}
