@use "@styles/media" as *;
@use "@styles/colors" as *;

.articles {
  @include mediaTablet {
  }

  @include mediaMobile {
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px 24px;

  @include mediaTablet {
    gap: 24px 16px;
  }

  @include mediaMobile {
    grid-template-columns: 1fr;
  }
}

.cardWrap {
  @include mediaTablet {
    flex: auto;
  }
}

.link {
  margin-top: 48px;

  @include mediaTablet {
    margin-top: 24px;
  }
}
