@use "@styles/media" as *;
@use "@styles/colors" as *;

.services {
  @include mediaTablet {
  }

  @include mediaMobile {
  }
}

.sectionTitleWrap {
  display: flex;
  align-items: end;
  height: 44px;

  @include mediaTablet {
    height: 26px;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 64px;

  @include mediaTablet {
    gap: 32px;
  }
}

.item {
  display: flex;
  gap: 24px;

  @include mediaTablet {
    gap: 32px;
  }

  .picture {
    max-width: 210px;
    height: 100%;

    img {
      height: 100%;
    }
  }
}

.textWrap {
  display: flex;
  flex-direction: column;
  // gap: 16px;

  @include mediaTablet {
    // gap: 8px;
  }
}

.title {
  margin-bottom: 16px;

  @include mediaTablet {
    margin-bottom: 8px;
  }
}

.textItem {
  position: relative;
  padding-left: 48px;

  @include mediaTablet {
    padding-left: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    left: 20px;
    top: 14px;
    border-radius: 50%;
    background-color: $white;

    @include mediaTablet {
      width: 2px;
      height: 2px;
      left: 8px;
      top: 8px;
    }
  }
}

.button {
  margin-top: 32px;

  @include mediaTablet {
    margin-top: 24px;
  }
}
