@use "@styles/media" as *;
@use "@styles/colors" as *;

.services {
  @include mediaTablet {
  }

  @include mediaMobile {
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include mediaTablet {
    gap: 24px;
  }
}
