@use "../../styles/media" as *;
@use "../../styles/colors" as *;

.inputPhone {
  display: flex;
  flex-direction: column;
}

.inputField {
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px $light-gray solid;
  font-size: 24px;
  line-height: 30px;

  @include mediaTablet {
    font-size: 16px;
    line-height: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  &Error {
    border-color: red;
  }
}

.inputErrorMessage {
  color: red;
}
