@use "@styles/media" as *;
@use "@styles/colors" as *;

.numberCard {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &:hover {
  }

  &:focus {
  }

  @include mediaTablet {
  }

  @include mediaMobile {
  }
}
