$mobile: 376px;
$large-mobile: 430px;
$tablet: 767px;
$laptop: 1025px;
$desktop: 1279px;

@mixin mediaMobile {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mediaLargeMobile {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mediaTablet {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin mediaLaptop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin media($size) {
  @media (max-width: #{$size}) {
    @content;
  }
}
