@use "../../styles/media" as *;
@use "../../styles/colors" as *;

.title {
  @include mediaTablet {
  }

  @include mediaMobile {
  }
}

.light {
  color: $white;
}
.dark {
  color: $black;
}

.lightGrey {
  color: $light-gray;
}

.darkGrey {
  color: $dark-grey;
}

.S {
  font-size: 16px;
  line-height: 20px;
}

.M {
  font-size: 24px;
  line-height: 30px;

  @include mediaTablet {
    font-size: 16px;
    line-height: 20px;
  }
}

.L {
  font-size: 40px;
  line-height: 48px;

  @include mediaTablet {
    font-size: 24px;
    line-height: 30px;
  }
}

.XL {
  font-size: 72px;
  line-height: 86px;
  font-weight: 700;

  @include mediaTablet {
    font-size: 32px;
    line-height: 38px;
  }

  @include mediaMobile {
    font-size: 24px;
    line-height: 30px;
  }
}

.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}

.extraBold {
  font-weight: 800;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}
