@use "@styles/media" as *;
@use "@styles/colors" as *;

.logo {
  cursor: pointer;
  width: 164px;
  height: 48px;

  @include mediaTablet {
    width: 108px;
    height: 32px;
  }

  @include mediaMobile {
  }

  &.light {
    color: $white;

    &:hover,
    &:active {
      path {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
  &.dark {
    color: $black;

    &:hover,
    &:active {
      path {
        color: rgba(26, 26, 26, 0.6);
      }
    }
  }
}
