@use "@styles/media" as *;
@use "@styles/colors" as *;

.about {
  padding-bottom: 64px;

  @include mediaTablet {
    padding-bottom: 32px;
  }

  @include mediaMobile {
  }
}

.grid {
  padding-bottom: 0;
}

.textWrap {
  width: 100%;
  max-width: 909px;
  align-self: end;
}

.textInner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 676px;

  @include mediaTablet {
    max-width: 434px;
    gap: 20px;
  }
}

.titleWrap {
  // background-color: $dark-finik;
}

.content {
  // max-width: 909px;
}

.list {
  display: flex;
  // gap: 80px;
  width: fit-content;
  gap: 4px;

  li {
    &:last-child {
      margin-right: 4px;

      @include mediaTablet {
      }

      @include mediaMobile {
      }
    }
  }
}
