@use "@styles/media" as *;
@use "@styles/colors" as *;

.sectionGrid {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding-top: 96px;
  padding-bottom: 96px;

  @include mediaTablet {
    padding-top: 48px;
    padding-bottom: 48px;
    gap: 16px;
  }

  @include mediaMobile {
    flex-direction: column;
    gap: 24px;
  }
}

.titleWrap {
  max-width: 209px;
  width: 100%;
  flex-shrink: 3;

  @include mediaTablet {
    max-width: 164px;
  }

  @include mediaMobile {
    max-width: none;
  }
}

.contentWrap {
  display: flex;
  flex-direction: column;
  max-width: 1143px;
  width: 100%;
  flex-shrink: 2;

  @include mediaTablet {
    // max-width: 524px;
    max-width: 100%;
  }

  @include mediaMobile {
    max-width: none;
  }
}
