@use "../../styles/media" as *;
@use "../../styles/colors" as *;

.privacy {
  padding-top: 64px;

  @include mediaTablet {
    padding-top: 32px;
  }

  @include mediaMobile {
  }
}

.wrapper {
}

.privacyList {
  display: flex;
  flex-direction: column;
  gap: 64px;

  @include mediaTablet {
    gap: 32px;
  }

  @include mediaMobile {
  }
}

.privacyListItem {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include mediaTablet {
    gap: 16px;
  }
}
