@use "../../styles/media" as *;
@use "../../styles/colors" as *;

.contact {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;

  @include mediaTablet {
  }

  @include mediaMobile {
  }
}

.icon {
  @include mediaTablet {
    width: 24px;
    height: 24px;
  }
}

.text {
  &:hover {
    text-decoration: none;
  }
}
