@use "@styles/media" as *;
@use "@styles/colors" as *;

.gallery {
  max-width: none;
  padding: 0;

  @include mediaTablet {
  }

  @include mediaMobile {
  }
}

.list {
  display: flex;
  width: fit-content;
  gap: 4px;

  li {
    overflow: hidden;
    border-radius: 32px;

    @include mediaTablet {
      border-radius: 24px;
    }

    &:last-child {
      margin-right: 4px;

      @include mediaTablet {
      }

      @include mediaMobile {
      }
    }
  }
}

.marquee {
  img {
    height: 400px;
    width: auto;

    @include mediaTablet {
      height: 160px;
    }
  }
}
