@use "@styles/media" as *;
@use "@styles/colors" as *;

.steps {
  @include mediaTablet {
  }

  @include mediaMobile {
  }
}

.inner {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 24px;
  width: 100%;

  @include mediaTablet {
    gap: 32px 16px;
  }

  @include mediaMobile {
    flex-direction: column;
  }
}

.cardWrap {
  flex: 1 1 calc(50% - 12px);
  max-width: calc(50% - 12px);

  @include mediaTablet {
    max-width: none;
  }
}

.titleWrap {
  br {
    @include mediaMobile {
      display: none;
    }
  }
}
