@use "../../styles/media" as *;
@use "../../styles/colors" as *;

.section {
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: $black;

  @include mediaTablet {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @include mediaMobile {
  }
}

.transparent {
  background-color: transparent;
}
