@use "../../styles/media" as *;
@use "../../styles/colors" as *;

.section {
  padding-top: 96px;
  padding-bottom: 96px;

  @include mediaTablet {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  @include mediaMobile {
  }
}

.light {
  background-color: $white;
}

.dark {
  background-color: $black;
}

.transparent {
  background-color: transparent;
}
