@use "@styles/media" as *;
@use "@styles/colors" as *;

.partners {
  // &:not(.partnersTypeList) {
  //   margin: 0;
  //   padding: 48px 0;
  //   width: 100%;
  //   max-width: none;
  // }

  margin: 0;
  padding: 48px 0;
  width: 100%;
  max-width: none;

  @include mediaTablet {
    padding: 24px 0;
  }

  @include mediaMobile {
  }
}

.list {
  display: flex;
  gap: 80px;

  @include mediaTablet {
    gap: 48px;
  }

  @include mediaMobile {
  }

  li {
    width: fit-content;

    &:last-child {
      margin-right: 80px;

      @include mediaTablet {
        margin-right: 48px;
      }

      @include mediaMobile {
      }
    }

    picture {
      height: 32px;

      @include mediaTablet {
        height: 24px;
      }

      img {
        width: auto;
        height: 32px;

        @include mediaTablet {
          display: block;
          height: 24px;
        }
      }
    }
  }
}

.logo {
  width: fit-content;

  @include mediaTablet {
    height: 24px;
  }

  @include mediaMobile {
  }
}

.partnersTypeList {
  .listStatic {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    max-width: 909px;
    margin-left: auto;
    row-gap: 64px;
    column-gap: 96px;

    @include mediaTablet {
      row-gap: 32px;
      column-gap: 48px;
      // max-width: 524px;
    }

    @include mediaMobile {
    }

    li {
      // margin-right: 96px;

      svg {
        width: max-content;

        @include mediaTablet {
          height: 24px;
        }
      }
    }
  }
}
