@use "@styles/media" as *;
@use "@styles/colors" as *;

.mobileMenuButton {
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover:not(&.open),
  &:active:not(&.open) {
    span {
      background: rgba(255, 255, 255, 0.6) !important;

      &:nth-child(3) {
        background-color: transparent !important;
      }
    }
  }

  @include mediaTablet {
  }

  @include mediaMobile {
  }

  .linesWrap {
    position: relative;
    width: 24px;
    height: 16px;
  }

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 7px;
    }

    &:nth-child(4) {
      top: 14px;
    }

    &.open {
      background: $black;

      &:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
        background: #fff;
      }

      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
        background: #fff;
      }
    }
  }
}
