@use "../../styles/media" as *;
@use "../../styles/colors" as *;

.articlesPage {
  @include mediaTablet {
  }

  @include mediaMobile {
  }
}

.intro {
  padding-top: 196px;

  @include mediaTablet {
    padding-top: 118px;
  }

  @include mediaMobile {
    padding-top: 110px;
  }
}

.section {
  padding-top: 64px;

  @include mediaTablet {
    padding-top: 32px;
  }

  @include mediaMobile {
  }
}

.cardWrap {
  @include mediaTablet {
    flex: auto;
  }

  picture {
    border-radius: 32px;
    overflow: hidden;

    @include mediaTablet {
      border-radius: 24px;
    }
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 72px 24px;

  @include mediaLaptop {
    grid-template-columns: 1fr 1fr;
  }

  @include mediaTablet {
    // grid-template-columns: 1fr 1fr;
    gap: 40px 16px;
  }

  @include mediaMobile {
    grid-template-columns: 1fr;
    gap: 32px 16px;
  }
}
