@use "@styles/media" as *;
@use "@styles/colors" as *;

.accordion {
  @include mediaTablet {
    padding: 16px 16px 16px 24px;
  }

  @include mediaMobile {
  }
}

// .items {
//   display: flex;
//   flex-direction: column;
//   gap: 48px;

//   @include mediaTablet {
//     gap: 24px;
//   }
// }

.itemWrapper {
  display: flex;
  width: 100%;
  gap: 24px;
}

.imageWrapper {
  max-width: 210px;
  width: 100%;

  @include mediaTablet {
    max-width: none;
    width: auto;
  }
}

.item {
  justify-content: end;
  width: 100%;

  h3 {
    text-align: left;
    display: flex;
    justify-content: end;
    // padding-top: 16px;
    // padding-bottom: 16px;

    // @include mediaTablet {
    //   padding-top: 9px;
    //   padding-bottom: 9px;
    // }
  }
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 909px;
  gap: 24px;
}

.content {
  max-width: 909px;
  margin-left: auto;
}
