@use "@styles/media" as *;
@use "@styles/colors" as *;

.accordion {
  @include mediaTablet {
    // padding: 16px 16px 16px 24px;
  }

  @include mediaMobile {
    // padding: 0;
  }
}

// .items {
//   display: flex;
//   flex-direction: column;
//   gap: 48px;

//   @include mediaTablet {
//     gap: 24px;
//   }
// }

.itemWrapper {
  display: flex;
  width: 100%;
  gap: 24px;
}

.imageWrapper {
  max-width: 210px;
  width: 100%;
  height: max-content;

  @include mediaTablet {
    max-width: none;
    width: auto;
  }
}

.item {
  justify-content: end;
  width: 100%;

  h3 {
    text-align: left;
    display: flex;
    justify-content: end;
    margin-bottom: 4px;

    @include mediaTablet {
    }
  }
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 909px;
  gap: 24px;
}

.content {
  max-width: 909px;
  margin-left: auto;
}

.accordion-enter {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.accordion-enter-active {
  max-height: 500px;
  opacity: 1;
  transition: max-height 300ms ease, opacity 300ms ease;
}

.accordion-exit {
  max-height: 500px;
  opacity: 1;
}

.accordion-exit-active {
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms ease, opacity 300ms ease;
}

.link {
  display: block;
  margin-top: 24px;
}
