@use "@styles/media" as *;
@use "@styles/colors" as *;

.link {
  cursor: pointer;

  @include mediaTablet {
  }

  @include mediaMobile {
  }
}

.light {
  color: $white;

  &:hover {
    color: $dark-grey;
    transition: color 0.2s ease-in-out;
  }

  &:active {
    color: $dark-grey;
  }
}

.dark {
  color: $black;

  &:hover {
    color: $light-gray;
    transition: color 0.2s ease-in-out;
  }

  &:active {
    color: $light-gray;
  }
}

.grey {
  color: $dark-grey;
}

.S {
  font-size: 16px;
  line-height: 20px;
}

.M {
  font-size: 24px;
  line-height: 30px;

  @include mediaTablet {
    font-size: 16px;
    line-height: 20px;
  }
}

.L {
  font-size: 40px;
  line-height: 48px;

  @include mediaTablet {
    font-size: 24px;
    line-height: 30px;
  }
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
